<div class="admin-box">
  <form (ngSubmit)="sendData(form.value)" #form="ngForm">
    <h2>New Product</h2>
    <input type="text" name="name" placeholder="name" ngModel required>
    <input type="number" name="price" placeholder="price" ngModel required>
    <input type="number" name="group" placeholder="group" ngModel required>
     <form method="POST" enctype="multipart/form-data" ngModel required>
     <input type="file" name=picture />
     <input type="submit" name="submit" value="submit"/>
    </form>
    <button type="submit" [disabled]="form.invalid">creat new product!</button>
  </form>
</div>
