    <main class="prod-details">
             <div class="product-pic"><img  alt="shirt"></div>
                    <div class="wear-details">
                        <h3></h3>
                            <div>
                                    <div class="star"> &#9733;</div>
                                    <div class="star"> &#9733; </div>
                                    <div class="star"> &#9733; </div>
                                    <div class="star"> &#9733; </div>
                                    <div class="star"> &#9733; </div>
                                    <div class="review"> 3 review (s)</div>
                                    <div class= "addrev" >Add a review</div>
                                    <div class="shere-symbol">Share: 
                                        <i class="fa fa-facebook" ></i>
                                        <i class="fa fa-twitter" ></i>
                                        <i class="fa fa-google-plus"></i>
                                        <i class="fa fa-pinterest"></i>
                                        <i class="fa fa-instagram"></i>
                                        <i class="fa fa-envelope" ></i>
                                    </div>
                            </div>
                            <div class="new-price"> </div>
                            <div class="the-products" >{{product.name}}</div>
                            <div class="the-products" >{{product.price}}</div>
                            

                            <form class="choice">
                                    <div class="color">
                                    
                                            <select type="text" value="select color" name="color">
                                                <option selected hidden>Select Color</option>
                                                <option value="blue"> blue </option>
                                                <option value="black">black</option>
                                                <option value="green">green</option>
                                                <option value="brown">brown</option>
                                            </select>
                                    </div>
                                    <div class="size">
                                    
                    
                                            <select type="number" value="select size" name="size">
                                                <option selected hidden>Select Size</option>
                                                <option value="1">s</option>
                                                <option value="2">m</option>
                                                <option value="3">l</option>
                                                <option value="4">xl</option>
                                            </select>
                                    </div>
                                    <div class="qty">
                                    
                                            <select  size="1" type="number" value="select qty" name="qty">
                                                <option value="1">1</option>
                                                <option value="2">2</option>
                                                <option value="3">3</option>
                                                <option value="4">4</option>
                                            </select>
                                    </div>
                            </form>
                    <button><i class="fa fa-shopping-cart"> </i> ADD TO CART</button>
        </div>
    </main>   
