<div class="header">  
    <div class="top">
      <div class="warpper">
        <form>
         
            <input type="text" class="search-field" value="" placeholder="search">
           
         
        </form>
      </div>

    </div>
       <div >
          <h1><a routerLink="/home"><img src="assets/logo.png" alt="">
          </a></h1> 
       </div>
        

      <div class="nav-container">
          <div class="nav-menu">
                <div class="dropdown">
                  <div class="dropbtn"><a routerLink="/new">NEW</a></div>
                    <div class="dropdown-content">
                        <a routerLink="/dresses">DRESSES</a>
                        <a routerLink="/jackets">JACKETS</a>
                        <a routerLink="/pants">PANTS</a>
                    </div>
            </div> 
              <div class="dropdown">
                 <div class="dropbtn"><a routerLink="/women"> WOMEN</a></div>
                    <div class="dropdown-content">
                        <a routerLink="/dresses">DRESSES</a>
                        <a routerLink="/jackets">JACKETS</a>
                        <a routerLink="/pants">PANTS</a>
                    </div>
            </div> 
              <div class="dropdown">
                  <div class="dropbtn"><a routerLink="/men">MEN</a></div>
                      <div class="dropdown-content">
                          <a routerLink="/jackets">JACKETS</a>
                          <a routerLink="/pants">PANTS</a>
                      </div>
            </div> 
              <div class="dropdown">
                  <div class="dropbtn"><a routerLink="/accessories">ACCESSORIES</a></div>
                    <div class="dropdown-content">
                       
                    </div>
            </div> 
              <div class="dropdown">
                  <div class="dropbtn"><a routerLink="/sale">SALE</a></div>
                    <div class="dropdown-content">
                        <a routerLink="/dresses">DRESSES</a>
                        <a routerLink="/jackets">JACKETS</a>
                        <a routerLink="/pants">PANTS</a>
                    </div>
            </div> 
            <div class="dropdown">
                 <div class="dropbtn"><a routerLink="/aboutus">ABOUT US</a></div>
            </div>  
        </div>         
    </div>
