<section class="footer">
    <div class="boxfooter">
        <nav class="footermenu">
            <div class=" information">
                <h5>INFORMATION</h5>
                    <ul>
                        <li>about us</li><br>
                        <li>contact details</li><br>
                        <li>Customer Service</li><br>
                    </ul>
            </div>
            <div class="information">
                <h5>WHY BUY FROM US</h5>
                    <ul>
                        <li>Shipping &amp; returns</li><br>
                        <li>Secure shopping</li><br>
                        <li>you are donating</li><br>
                        <li>cheap</li><br>
                        <li>Ethical trading</li><br>
                    </ul>
            </div>
            <div class="information">
                <h5>YOUR ACCOUNT</h5>
                    <ul>
                        <li>Sign in</li><br>
                        <li>Register</li><br>
                        <li>View cart</li><br>
                    </ul>
            </div>
        </nav>
        <div class="hr"></div>
        
         <div class="symbol">

                <i id="facebook" class="fa fa-facebook-square" ></i>
                <i class="fa fa-twitter" ></i>
                <i class="fa fa-instagram"></i>
                <i class="fa fa-pinterest"></i>

            </div>
    </div>
</section>
